{% extends 'website/webskeleton.html' %}
{% load static %}

{% block services %}
<style media="screen">
  .col-sm-6 , .col-sm-12{
    position :inherit;
  }
</style>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">ROOMS</h3>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/exclusive1.jpg' %}">
    </div>
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">LUXORY ROOMS</h3>
      <br>
      <p class="text-justify">

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br>
        
      <br>
      <p class="text-justify">

      </p>
    </div>
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/standard1.jpg' %}">
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">RIDE</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">LUXORY RIDE</h3>
      <br>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        anim id est laborum.</p>
    </div>
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/redcar.jpg' %}">
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">FITNESS & JYM</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">HEALTH IS WEALTH</h3>
      <br>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        anim id est laborum.</p>
    </div>
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/womanrun.jpg' %}">
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">RESTRO & BAR</h3>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/menu_4.jpg' %}">
    </div>
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">DELICIOUS FOOD</h3>
      <br>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">BEVERAGES</h3>
      <br>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        anim id est laborum.</p>
    </div>
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/juice.jpg' %}">
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">ACTIVE EVENTS</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br>
      <h3 class="text-center">CONNECT WITH OTHERS</h3>
      <br>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        anim id est laborum.</p>
    </div>
    <div class="col-sm-6">
      <img class=" img-fluid" src="{% static 'img/wifi.jpg' %}">
    </div>
  </div>
</div>

{% endblock %}
